@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Set default value to 10px for easier calculations, but use % in case the user changes their browser value */
    /* 10px / 16px = 0.625 = 62.5% */
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 400;
}

/* Reusable Components */

.margin-right {
    margin-right: 1.6rem;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5d0b4;

    height: 16rem;
    padding: 0 4.6rem;
}

.header-logo {
    height: 16rem;
}

/* Header Navigation */

.header-navigation-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
}

.header-navigation-list-link:link,
.header-navigation-list-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    transition: all 0.25s;
}

.header-navigation-list-link:hover,
.header-navigation-list-link:active {
    color: #ffa500;
}

/* Hero Section */

.hero-section {
    background-color: #c5d0b4;
    padding: 0 0 9.6rem 0;
}

.hero-display-container {
    margin: 0 auto;
    max-width: 130rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}

/* Hero Image Box */

.hero-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 100%;
    border-radius: 5rem;
}

/* Hero Text Box */

.main-heading {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.button:link,
.button:visited {
    display: inline-block;
    border-radius: 100px;
    padding: 1.6rem 3.2rem;
    background-color: #ffa500;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.25s;
}

.button:hover,
.button:active {
    background-color: #cc8400;
    /* Not possible to use the border property because it pushes the elements above upwards. */
    box-shadow: inset 0 0 0 3px white;
}

/* Customer Section */

.customers {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.customer-images {
    display: flex;
}

.customer-images img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;

    transition: transform 0.1s ease-in-out;
}

.customer-images img:hover {
    transform: scale(1.05);
}

.customer-images img:last-child {
    margin: 0;
}

.customer-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.customer-text span {
    font-weight: 700;
    color: #ffa500;
}
